
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{

    --verde-claro: #d8e2dcff;
--powder-petal: #ffe5d9ff;
--pastel-pink: #ffcad4ff;
--cherry-blossom: #f4acb7ff;
--titulo:"Playfair Display", serif;
--texto:"Saira", sans-serif;
}
body{
    background-color: var(--verde-claro);
    font-family: var(--texto);
}
*{margin:0;
padding:0;
}

header{
    background-color: var(--cherry-blossom);
    color: var(--brown);
    text-align: center;
    padding: 20px;
}